*{
    margin: 0px;
    padding: 0px;
}

#header{
    background-color: #F5E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
}

#logo{
    position: absolute;
    height: 10vh;
    left: 50%;
    right: 50%;
    top: 2px;
}

#logoBawah{
    width: 10vh;
}

.navbar {
    overflow: hidden;
    background-color: #F5E7E7;
    font-family: Arial;
    width: 15vw;
}
    
.navbar a {
    float: left;
    font-size: 16px;
    color: #FF8732;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 25ch;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FF8732;
    padding: 14px 8px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
}

#arrow{
    width: 5%;
}

.navbar a:hover, .dropdown:hover {
    background-color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: flex-end;
}

.dropdown-content a {
    float: none;
    color: #FF8732;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #F5E7E7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#footer{
    background-color: #F5E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer>h3{
    color: #FF8732;
}

#footer>a>img{
    margin: 10px;
    width: 5ch;
}


#backgroundtengah{
    background-color: #D73515;
    color: white;
    justify-content: center;
    align-items: center;
    border: 10px;
    padding: 10px;
    
}
#tulisanGallery{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backgroundGambar{
    background-color: #F5E7E7;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Gambar{
    padding: 30px;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;

}
.Gambar>img{
    padding: 30px;
    margin: 30px;
    border: 30px;
    /* width: 25vw; */
}

.Nama{
    color: #66392E;
}

.Harga{
    color: #D73515;
}

@media screen and (max-width: 700px){
    #backgroundGambar{
        display: initial;
        background-color: #F5E7E7;
        margin: 20px;
        /* display: grid; */
        /* justify-content: baseline; */
    }
    .Gambar{
        background-color: #F5E7E7;
        
    }
    .navbar{
        margin-right: 20px;
    }
   

}
/* .input-box{
    margin-bottom: 15px;
}

.input-box{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: #D73515;
    margin-right: 20px;
} */

/* .input-box {
    border: 2px solid #D73515;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
} */

#servingTypeID{
    border: 2px solid #D73515;
    background-color: F5E7E7;
    box-sizing: border-box;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.button{
    height: 45px;
    margin: 20px 0;
}

.button input{
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #D73515;
}

.button input:hover{
    cursor:pointer
}

#cartID{
   margin-bottom: 100px;
}
