@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
  }

  :root {
    --main-font: 'Poppins', sans-serif; 
  }
  
  #header{
    background-color: #F5E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    top: 0;
    z-index: 99;
  }
  
  #logo{
    height: 8vh;
    margin-left: 16px;
  }
  
  #logoBawah{
    width: 10vh;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #F5E7E7;
    font-family: Arial;
  }
    
  .navbar a {
    float: left;
    font-size: 16px;
    color: #FF8732;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    width: 28ch;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #FF8732;
    padding: 14px 8px;
    background-color: inherit;
    margin: 0; 
    font-family: var(--main-font);
    font-weight: 900;
  }
  
  #arrow{
    width: 5%;
  }
  
  .navbar a:hover, .dropdown:hover {
    background-color: whitesmoke;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    align-items: flex-end;
  }
  
  .dropdown-content a {
    float: none;
    color: #FF8732;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: var(--main-font);
  }
  
  .dropdown-content a:hover {
    background-color: #F5E7E7;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#footer{
    background-color: #F5E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer>h3{
    color: #FF8732;
}

#footer>a>img{
    margin: 10px;
    width: 5ch;
}


#tengah{
    background-color: #D73515;
    color: white;
    justify-content: center;
    align-items: center;
    border: 10px;
    padding: 10px;
    
}
#tulisanGallery{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backgroundGambar{
    background-color: #F5E7E7;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.Gambar{
    padding: 30px;
    margin: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.Gambar>img{
    padding: 30px;
    margin: 30px;
    border: 30px;
    /* width: 25vw; */
}

.Nama{
    color: #66392E;
}

.Harga{
    color: #D73515;
}

#screensaver{
    position: absolute; 
    left:0px; 
    top: 0px;
    width: 100%; 
    height: 100%;
    display: none;
    background-color: #F5E7E7;
}

@media screen and (max-width: 700px){

    #backgroundGambar{
        display: initial;
        background-color: #F5E7E7;
        margin: 20px;
        /* display: grid; */
        /* justify-content: baseline; */
    }
    .Gambar{
        background-color: #F5E7E7;
        padding-top: 0px;
        
    }
    /* .navbar{
        margin-right: 20px;
    } */    
   

}

